body {
    display: grid;
    grid-template-rows: 10% 80% 10%;

    height: 240px;
    max-width: inherit;

    row-gap: 3%;
}

.container {
    max-width: inherit;
}

#ending-quote {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12pt;
}

#main-information {
    display: grid;

    grid-template-rows: 46% 50%;
}

#main-brief {
    display: inline;
}

#portrait {
    position: inline;
    margin-left: 25px;

    height: 80px;

    border-radius: 100%;
}

#name {
    position: inline;

    font-size: 12pt;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    font-weight: bold;

    margin-left: 20px;
}

#social-links {
    display: inline;
    position: relative;

    grid-template-columns: 25px 25px 25px;
    column-gap: 30px;
    align-items: center;
    justify-items: center;

    margin-left: 20px;
}

.media-icon {
    position: relative;

    height: 25px;
    margin-left: 14px;
}

#main-detail {
    height: fit-content;
}

#main-detail p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12pt;
    color: black;
    margin-left: 20px;
}

#footer-information {
    font-size: 8pt;
}